*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  padding: 80px;
  font-size: 38px;
}

.grid-container {
  background: deeppink;
  color: white;
  text-align: center;
}
header {
  background: lightcoral;
  min-height: 100px;
}
main  {
  background: khaki;
  min-height: 300px;
}
article {
  background: firebrick;
  height: 300px;
  flex: 1 1 auto;
  border: 1px solid blue;
}
aside {
  background: cadetblue;
  min-height: 300px;
}
footer {
  background: rebeccapurple;
   min-height: 100px;
}